body, header, p, h1 {
	margin: 0px;
}

body {
	background-color:#84596B;
	color:  #F7F5F8;
	text-align: center;					
	font-style: Arial;
}
h1 {
	text-shadow: 2px 2px 5px black;
	font-family: 'Abril Fatface', cursive;
}

footer {
	font-style: italic;
	font-weight: bold;
}

section {
	text-align: left;
	border-bottom: 2px solid black;
	padding: 10px;
	color:#191716;
}

header {
	background-color:#603A40;
	color:#e9e3eb;
	padding: 25px;
}

#container {
	width:80%;
	margin:auto;
	box-shadow: 0px 10px 5px #191716;
	background-color:#b6a4bc;
}

.odd {
	background-color: #E9E3Eb;
	text-align: right;
}

a:link {
	color: white;
}

a:visited {
	color: grey;
}

a:hover {
	color: #84596B;
}

a {
	text-decoration:none;
}